backend/utils/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ModeloUML">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CasosDeUso" type="xs:integer"/>
        <xs:element name="Classes" type="xs:integer"/>
        <xs:element name="LinhasEstimadas" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
